jag-ccd-application/src/main/resources/xsdSchemas/agencyEmails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="AgencyEmails" targetNamespace="http://brooks/CCD.Source.AgencyEmails.ws.provider:AgencyEmails" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2008/07/soap/bindings/JMS/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://brooks/CCD.Source.AgencyEmails.ws.provider:AgencyEmails" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://brooks/CCD.Source.AgencyEmails.ws.provider:AgencyEmails" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://brooks/CCD.Source.AgencyEmails.ws.provider:AgencyEmails">
            <xsd:complexType name="getAgencyEmails">
                <xsd:sequence>
                    <xsd:element name="agenId" nillable="true" type="xsd:string"/>
                    <xsd:element name="agenCd" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getAgencyEmailsResponse">
                <xsd:sequence>
                    <xsd:element name="agencyEmails" nillable="true" type="tns:AgencyEmail"  maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AgencyEmail">
                <xsd:sequence>
                    <xsd:element name="email" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getAgencyEmails" type="tns:getAgencyEmails"/>
            <xsd:element name="getAgencyEmailsResponse" type="tns:getAgencyEmailsResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="AgencyEmails_PortType_getAgencyEmails">
        <wsdl:part name="parameters" element="tns:getAgencyEmails">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AgencyEmails_PortType_getAgencyEmailsResponse">
        <wsdl:part name="parameters" element="tns:getAgencyEmailsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AgencyEmails_PortType">
        <wsdl:operation name="getAgencyEmails">
            <wsdl:input message="tns:AgencyEmails_PortType_getAgencyEmails">
            </wsdl:input>
            <wsdl:output message="tns:AgencyEmails_PortType_getAgencyEmailsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CCD_Source_AgencyEmails_ws_provider_AgencyEmails_Binder" type="tns:AgencyEmails_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAgencyEmails">
            <soap:operation soapAction="CCD_Source_AgencyEmails_ws_provider_AgencyEmails_Binder_getAgencyEmails" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AgencyEmails">
        <wsdl:port name="CCD_Source_AgencyEmails_ws_provider_AgencyEmails_Port" binding="tns:CCD_Source_AgencyEmails_ws_provider_AgencyEmails_Binder">
            <soap:address location="http://reeks.bcgov:5555/ws/CCD.Source.AgencyEmails.ws.provider:AgencyEmails/CCD_Source_AgencyEmails_ws_provider_AgencyEmails_Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
